extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg
      form.form.form--loginByPhoneNumber
        .form__group.ma-bt-md
          label.form__label(for='phoneNumber') شماره همراه را وارد کنید
          input#phoneNumber.form__input(type='phoneNumber', placeholder='••••••••')
          .form__group.ma-bt-md
          label#verifyCodeTitle.form__label.hideVerifyCode(for='verifyCode') کد تایید
          input#verifyCodeInput.form__input.hideVerifyCode(type='verifyCode', placeholder='••••••••')
        .form__group
          button#btnLogin.btn.btn--green ارسال کد تایید
        .form__group
          button#resendverifycode.btn.btn--green.hideVerifyCode ارسال مجدد کد